@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #04C2C9;
  --primary-bg-color: #00A1A7;
  --heading-color: #E31B6D;
  --gray-color: #808080;
  --gray-bg-color: #eee;
  --gray-cent-color: #666;
  --white-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


#home {
  background-image: url(../public/IMG_0431.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bar {
  position: relative;
  height: 28px;
  background-color: var(--gray-bg-color);
  color: var(--gray-cent-color);
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  height: 28px;
}

.bar-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  height: 28px;
  width: 6rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding-left: 8px;
}

@media only screen and (max-width: 520px) {
  #home {
    background-position: right;
    height: auto;
  }
}